.vitaUserHeader {
    color: #CC3300 !important;
    font-weight: bold !important;
    text-align: center !important;
}

.vitaUserSubHeader {
    font-weight: bold !important;
    font-size: 14px !important;
}

.vitaText {
    font-size: 12px !important;
}

.finalVitaEntryTitle {
    color: #CC3300 !important;
    font-weight: bold !important;
    font-size: 12px !important;
}